.page {
    min-width: 1580px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: white;
  }

  .title {
    
    font-size: 164px;
    line-height: 168px;
  }

  .title_color {
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
  }

  .title-section{
    position: relative;
  }

  .text {
      position: absolute;
      top: 40%;
      left: 40%;
      font-style: italic;
      font-size: 66px;
      line-height: 60px;
  }

  .tab-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  .tab-container {
    padding-left: 93px;
  }

.tab-list {
    list-style: square outside url("/src/images/Rectangle.svg");
    padding-left: 0;
    margin: 0;
}

.tab-list__item {
    font-size: 24px;
    line-height: 36px;
    color: #464646;
    padding-bottom: 36px;
}

.tab-list__item:last-of-type {
    padding-bottom: 56px;
}

.tab-content__link {
    font-size: 24px;
    line-height: 36px;
    color: #000;
}



.tab-content__icon {
    width: 28px;
    height: 16px;
    padding-left: 20;
}

.tab-section {
    background-color: #000;
    display: block;
}




  * {box-sizing: border-box}
  
  /* Style the tab */
  .tab {
      float: left;
      width: 30%;
      height: 735px;
      padding-top: 38px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
      display: block;
      background-color: inherit;
      color: gray;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
      margin-bottom: 20px;
      font-size: 46px;
      line-height: 50px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
      color: red;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
      color: #000;
  }
  
  /* Style the tab content */
  .tabcontent {
      float: left;
      padding: 0px 0px 0px 48px;
      width: 70%;
      border-left: none;
      height: 735px;
  }

  .tablinks {
      text-transform: uppercase;
  }

  .marquee{
    padding: 24px 0;
  }
  
  .marquee__inner{
    width: fit-content;
    position: relative;
    transform: translate3d(var(--move-initial),0,0);
    animation: marquee 80s linear infinite;
  }
  
  .marquee span{
    white-space: nowrap;
    padding: 0 1vw;
  }
  
  .marquee__inner:hover {
      animation-play-state: paused
     }
  
  .marquee-text {
      font-family: 'Aeroport';
      color: #000000;
      font-size: 28px;
      line-height: 32px;
      padding: 0 5rem;
      text-decoration: none;
    }
    
   .marquee-text:hover {
    color: #E10600;
    transition: 0.1s linear;
    opacity: 0.7;
  }
  
  .marquee:hover .marquee__inner{
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  @keyframes marquee {
    0% {
    transform: translate3d(var(--move-initial), 0, 0);
    }
  
    100% {
     transform: translate3d(var(--move-final), 0, 0);
    }
  }

  .marquee-section {
      margin-bottom: 132px;
  }

  .events__title {
      display: flex;
      justify-content: space-between;
  }

  .link {
      text-decoration: none;
  }

  .link:hover {
      color: #E10600;
  }

  .foote-titile {
      text-transform: uppercase;
      margin-bottom: 44px;
      color: #000;
      font-size: 60px;
      line-height: 68px;
  }

  .footer-colums {
      display: flex;
      justify-content: space-between;
  }

  .footer-col {
      height: 200px;
  }

  .footer-first {

   }

  .footer-second {
      display: flex;
      flex-direction: row;
  }